<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newtelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewTelApp">
        <activity
            android:name=".view.Menua"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewTelApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ProduktuakErakutsi"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
        <activity
            android:name=".view.AurrekontuaSortu"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
        <activity
            android:name=".view.BezeroaSortu"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
        <activity
            android:name=".view.AurrekontuaMenua"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
        <activity
            android:name=".view.AurrekontuakIkusi"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
        <activity
            android:name=".view.AurrekontuakAldatu"
            android:theme="@style/Theme.NewTelApp.NoActionBar" />
    </application>

</manifest>