USE [master]
GO
/****** Object:  Database [NewTel]    Script Date: 18/11/2021 8:40:18 ******/
CREATE DATABASE [NewTel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewTel', FILENAME = N'C:\SQLServer2017Media\MSSQL14.SQLEXPRESS\MSSQL\DATA\NewTel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewTel_log', FILENAME = N'C:\SQLServer2017Media\MSSQL14.SQLEXPRESS\MSSQL\DATA\NewTel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewTel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewTel]
GO
USE [NewTel]
GO
/****** Object:  Sequence [dbo].[sale_order_line_id_seq]    Script Date: 18/11/2021 8:40:18 ******/
CREATE SEQUENCE [dbo].[sale_order_line_id_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE  1 
GO
/****** Object:  Table [dbo].[product_product]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_product](
	[id] [int] NOT NULL,
	[barcode] [varchar](255) NULL,
	[combination_indices] [varchar](255) NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[default_code] [varchar](255) NULL,
	[message_main_attachment_id] [int] NULL,
	[product_tmpl_id] [int] NULL,
	[volume] [numeric](19, 2) NULL,
	[weight] [numeric](19, 2) NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_order]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order](
	[id] [int] NOT NULL,
	[access_token] [varchar](255) NULL,
	[amount_tax] [numeric](19, 2) NULL,
	[amount_total] [numeric](19, 2) NULL,
	[amount_untaxed] [numeric](19, 2) NULL,
	[company_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[currency_id] [int] NULL,
	[currency_rate] [numeric](19, 2) NULL,
	[date_approve] [datetime2](7) NULL,
	[date_calendar_start] [datetime2](7) NULL,
	[date_order] [datetime2](7) NULL,
	[date_planned] [datetime2](7) NULL,
	[effective_date] [datetime2](7) NULL,
	[fiscal_position_id] [int] NULL,
	[group_id] [int] NULL,
	[incoterm_id] [int] NULL,
	[invoice_count] [int] NULL,
	[invoice_status] [varchar](255) NULL,
	[message_main_attachment_id] [int] NULL,
	[name] [varchar](255) NULL,
	[notes] [varchar](255) NULL,
	[origin] [varchar](255) NULL,
	[partner_ref] [varchar](255) NULL,
	[payment_term_id] [int] NULL,
	[picking_count] [int] NULL,
	[picking_type_id] [int] NULL,
	[priority] [varchar](255) NULL,
	[state] [varchar](255) NULL,
	[user_id] [int] NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
	[dest_address_id] [int] NULL,
	[partner_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_order_line]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order_line](
	[id] [int] NOT NULL,
	[account_analytic_id] [int] NULL,
	[company_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[currency_id] [int] NULL,
	[date_planned] [datetime2](7) NULL,
	[display_type] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[orderpoint_id] [int] NULL,
	[price_subtotal] [numeric](19, 2) NULL,
	[price_tax] [float] NULL,
	[price_total] [numeric](19, 2) NULL,
	[price_unit] [numeric](19, 2) NULL,
	[product_description_variants] [varchar](255) NULL,
	[product_qty] [numeric](19, 2) NULL,
	[product_uom] [int] NULL,
	[product_uom_qty] [float] NULL,
	[propagate_cancel] [bit] NULL,
	[qty_invoiced] [numeric](19, 2) NULL,
	[qty_received] [numeric](19, 2) NULL,
	[qty_received_manual] [numeric](19, 2) NULL,
	[qty_received_method] [varchar](255) NULL,
	[qty_to_invoice] [numeric](19, 2) NULL,
	[sequence] [int] NULL,
	[state] [varchar](255) NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
	[product_id] [int] NULL,
	[order_id] [int] NULL,
	[partner_id] [int] NULL,
	[sale_order_id] [int] NULL,
	[sale_line_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[res_partner]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[res_partner](
	[id] [int] NOT NULL,
	[additional_info] [varchar](255) NULL,
	[calendar_last_notif_ack] [datetime2](7) NULL,
	[city] [varchar](255) NULL,
	[color] [int] NULL,
	[comment] [varchar](255) NULL,
	[commercial_company_name] [varchar](255) NULL,
	[company_id] [int] NULL,
	[company_name] [varchar](255) NULL,
	[country_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[customer_rank] [int] NULL,
	[date] [date] NULL,
	[debit_limit] [numeric](19, 2) NULL,
	[display_name] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[email_normalized] [varchar](255) NULL,
	[industry_id] [int] NULL,
	[invoice_warn] [varchar](255) NULL,
	[invoice_warn_msg] [varchar](255) NULL,
	[lang] [varchar](255) NULL,
	[last_time_entries_checked] [datetime2](7) NULL,
	[message_bounce] [int] NULL,
	[message_main_attachment_id] [int] NULL,
	[mobile] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[partner_gid] [int] NULL,
	[partner_latitude] [numeric](19, 2) NULL,
	[partner_longitude] [numeric](19, 2) NULL,
	[phone] [varchar](255) NULL,
	[phone_sanitized] [varchar](255) NULL,
	[picking_warn] [varchar](255) NULL,
	[picking_warn_msg] [varchar](255) NULL,
	[purchase_warn] [varchar](255) NULL,
	[purchase_warn_msg] [varchar](255) NULL,
	[ref] [varchar](255) NULL,
	[sale_warn] [varchar](255) NULL,
	[sale_warn_msg] [varchar](255) NULL,
	[signup_expiration] [datetime2](7) NULL,
	[signup_token] [varchar](255) NULL,
	[signup_type] [varchar](255) NULL,
	[state_id] [int] NULL,
	[street] [varchar](255) NULL,
	[street2] [varchar](255) NULL,
	[supplier_rank] [int] NULL,
	[team_id] [int] NULL,
	[title] [int] NULL,
	[type] [varchar](255) NULL,
	[tz] [varchar](255) NULL,
	[user_id] [int] NULL,
	[vat] [varchar](255) NULL,
	[website] [varchar](255) NULL,
	[website_id] [int] NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
	[zip] [varchar](255) NULL,
	[commercial_partner_id] [int] NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_order]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_order](
	[id] [int] NOT NULL,
	[access_token] [varchar](255) NULL,
	[amount_tax] [numeric](19, 2) NULL,
	[amount_total] [numeric](19, 2) NULL,
	[amount_untaxed] [numeric](19, 2) NULL,
	[analytic_account_id] [int] NULL,
	[campaign_id] [int] NULL,
	[client_order_ref] [varchar](255) NULL,
	[commitment_date] [datetime2](7) NULL,
	[company_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[currency_id] [int] NULL,
	[currency_rate] [numeric](19, 2) NULL,
	[date_order] [datetime2](7) NULL,
	[effective_date] [date] NULL,
	[fiscal_position_id] [int] NULL,
	[incoterm] [int] NULL,
	[invoice_status] [varchar](255) NULL,
	[medium_id] [int] NULL,
	[message_main_attachment_id] [int] NULL,
	[name] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[origin] [varchar](255) NULL,
	[payment_term_id] [int] NULL,
	[picking_policy] [varchar](255) NULL,
	[pricelist_id] [int] NULL,
	[procurement_group_id] [int] NULL,
	[reference] [varchar](255) NULL,
	[sale_order_template_id] [int] NULL,
	[signed_by] [varchar](255) NULL,
	[signed_on] [datetime2](7) NULL,
	[source_id] [int] NULL,
	[state] [varchar](255) NULL,
	[team_id] [int] NULL,
	[user_id] [int] NULL,
	[validity_date] [date] NULL,
	[warehouse_id] [int] NULL,
	[warning_stock] [varchar](255) NULL,
	[website_id] [int] NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
	[partner_id] [int] NULL,
	[partner_invoice_id] [int] NULL,
	[partner_shipping_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_order_line]    Script Date: 18/11/2021 8:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_order_line](
	[id] [int] NOT NULL,
	[company_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[create_uid] [int] NULL,
	[currency_id] [int] NULL,
	[customer_lead] [float] NULL,
	[discount] [numeric](19, 2) NULL,
	[display_type] [varchar](255) NULL,
	[invoice_status] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[price_reduce] [numeric](19, 2) NULL,
	[price_reduce_taxexcl] [numeric](19, 2) NULL,
	[price_reduce_taxinc] [numeric](19, 2) NULL,
	[price_subtotal] [numeric](19, 2) NULL,
	[price_tax] [numeric](19, 2) NULL,
	[price_total] [numeric](19, 2) NULL,
	[price_unit] [numeric](19, 2) NULL,
	[product_packaging] [int] NULL,
	[product_uom] [int] NULL,
	[product_uom_qty] [numeric](19, 2) NULL,
	[qty_delivered] [numeric](19, 2) NULL,
	[qty_delivered_manual] [numeric](19, 2) NULL,
	[qty_delivered_method] [varchar](255) NULL,
	[qty_invoiced] [numeric](19, 2) NULL,
	[qty_to_invoice] [numeric](19, 2) NULL,
	[route_id] [int] NULL,
	[salesman_id] [int] NULL,
	[sequence] [int] NULL,
	[state] [varchar](255) NULL,
	[untaxed_amount_invoiced] [numeric](19, 2) NULL,
	[untaxed_amount_to_invoice] [numeric](19, 2) NULL,
	[warning_stock] [varchar](255) NULL,
	[write_date] [datetime2](7) NULL,
	[write_uid] [int] NULL,
	[product_id] [int] NULL,
	[order_partner_id] [int] NULL,
	[order_id] [int] NULL,
	[linked_line_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[product_product] ([id], [barcode], [combination_indices], [create_date], [create_uid], [default_code], [message_main_attachment_id], [product_tmpl_id], [volume], [weight], [write_date], [write_uid]) VALUES (2, NULL, N'', CAST(N'2021-09-28T14:10:49.1605130' AS DateTime2), 2, N'Babesle_pantaila_beirazko_IPhone11', NULL, 2, NULL, NULL, CAST(N'2021-10-27T07:32:19.7291610' AS DateTime2), 2)
INSERT [dbo].[product_product] ([id], [barcode], [combination_indices], [create_date], [create_uid], [default_code], [message_main_attachment_id], [product_tmpl_id], [volume], [weight], [write_date], [write_uid]) VALUES (3, NULL, N'', CAST(N'2021-09-28T14:28:51.8108860' AS DateTime2), 2, N'Zorroa_mugikorra_SamsungA12_NaviBlue', NULL, 3, NULL, NULL, CAST(N'2021-11-02T10:56:34.5396010' AS DateTime2), 7)
INSERT [dbo].[product_product] ([id], [barcode], [combination_indices], [create_date], [create_uid], [default_code], [message_main_attachment_id], [product_tmpl_id], [volume], [weight], [write_date], [write_uid]) VALUES (4, NULL, N'', CAST(N'2021-09-28T14:39:01.9874000' AS DateTime2), 2, N'Sony_entzungailuak_haririk_gabeko_WH-CH500', NULL, 4, NULL, NULL, CAST(N'2021-11-16T09:24:31.4774820' AS DateTime2), 7)
GO
ALTER TABLE [dbo].[purchase_order]  WITH CHECK ADD  CONSTRAINT [FK36emf7vmxik8ybsolyw9ah63i] FOREIGN KEY([dest_address_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[purchase_order] CHECK CONSTRAINT [FK36emf7vmxik8ybsolyw9ah63i]
GO
ALTER TABLE [dbo].[purchase_order]  WITH CHECK ADD  CONSTRAINT [FKqe8qu5w9l98ldx3411krpf71v] FOREIGN KEY([partner_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[purchase_order] CHECK CONSTRAINT [FKqe8qu5w9l98ldx3411krpf71v]
GO
ALTER TABLE [dbo].[purchase_order_line]  WITH CHECK ADD  CONSTRAINT [FK1gpflfx014nqqef3fofpymuwu] FOREIGN KEY([sale_line_id])
REFERENCES [dbo].[sale_order_line] ([id])
GO
ALTER TABLE [dbo].[purchase_order_line] CHECK CONSTRAINT [FK1gpflfx014nqqef3fofpymuwu]
GO
ALTER TABLE [dbo].[purchase_order_line]  WITH CHECK ADD  CONSTRAINT [FK1v28ppcpaj9ojcq4pkpgjx0d5] FOREIGN KEY([order_id])
REFERENCES [dbo].[purchase_order] ([id])
GO
ALTER TABLE [dbo].[purchase_order_line] CHECK CONSTRAINT [FK1v28ppcpaj9ojcq4pkpgjx0d5]
GO
ALTER TABLE [dbo].[purchase_order_line]  WITH CHECK ADD  CONSTRAINT [FKk722jxisydjumsmbxtjax5m6s] FOREIGN KEY([partner_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[purchase_order_line] CHECK CONSTRAINT [FKk722jxisydjumsmbxtjax5m6s]
GO
ALTER TABLE [dbo].[purchase_order_line]  WITH CHECK ADD  CONSTRAINT [FKnc8g9q6yceg1xfyxyucjdrnfs] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_product] ([id])
GO
ALTER TABLE [dbo].[purchase_order_line] CHECK CONSTRAINT [FKnc8g9q6yceg1xfyxyucjdrnfs]
GO
ALTER TABLE [dbo].[purchase_order_line]  WITH CHECK ADD  CONSTRAINT [FKrjncm3igiicpo4olpqxqo4mxn] FOREIGN KEY([sale_order_id])
REFERENCES [dbo].[sale_order] ([id])
GO
ALTER TABLE [dbo].[purchase_order_line] CHECK CONSTRAINT [FKrjncm3igiicpo4olpqxqo4mxn]
GO
ALTER TABLE [dbo].[res_partner]  WITH CHECK ADD  CONSTRAINT [FK44syc1qbrht90t7yrsjo9bqm6] FOREIGN KEY([commercial_partner_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[res_partner] CHECK CONSTRAINT [FK44syc1qbrht90t7yrsjo9bqm6]
GO
ALTER TABLE [dbo].[res_partner]  WITH CHECK ADD  CONSTRAINT [FKk7ki7vbov31anghv5rj3gixsw] FOREIGN KEY([parent_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[res_partner] CHECK CONSTRAINT [FKk7ki7vbov31anghv5rj3gixsw]
GO
ALTER TABLE [dbo].[sale_order]  WITH CHECK ADD  CONSTRAINT [FK1iavhdnayjhix87glkqsb94li] FOREIGN KEY([partner_invoice_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[sale_order] CHECK CONSTRAINT [FK1iavhdnayjhix87glkqsb94li]
GO
ALTER TABLE [dbo].[sale_order]  WITH CHECK ADD  CONSTRAINT [FK5f52aq1v6i2cl00d0t71cmu98] FOREIGN KEY([partner_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[sale_order] CHECK CONSTRAINT [FK5f52aq1v6i2cl00d0t71cmu98]
GO
ALTER TABLE [dbo].[sale_order]  WITH CHECK ADD  CONSTRAINT [FK6r7y6hxl68lrv9vl7mely0l48] FOREIGN KEY([partner_shipping_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[sale_order] CHECK CONSTRAINT [FK6r7y6hxl68lrv9vl7mely0l48]
GO
ALTER TABLE [dbo].[sale_order_line]  WITH CHECK ADD  CONSTRAINT [FKmru1uwoltf2k76kuqb6ry76ap] FOREIGN KEY([order_partner_id])
REFERENCES [dbo].[res_partner] ([id])
GO
ALTER TABLE [dbo].[sale_order_line] CHECK CONSTRAINT [FKmru1uwoltf2k76kuqb6ry76ap]
GO
ALTER TABLE [dbo].[sale_order_line]  WITH CHECK ADD  CONSTRAINT [FKnv4vh7sqweg1t3nqk6p5ld46p] FOREIGN KEY([order_id])
REFERENCES [dbo].[sale_order] ([id])
GO
ALTER TABLE [dbo].[sale_order_line] CHECK CONSTRAINT [FKnv4vh7sqweg1t3nqk6p5ld46p]
GO
ALTER TABLE [dbo].[sale_order_line]  WITH CHECK ADD  CONSTRAINT [FKs0tmhn41mpx3uipaf42ac7r1o] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_product] ([id])
GO
ALTER TABLE [dbo].[sale_order_line] CHECK CONSTRAINT [FKs0tmhn41mpx3uipaf42ac7r1o]
GO
ALTER TABLE [dbo].[sale_order_line]  WITH CHECK ADD  CONSTRAINT [FKt9l0deo8ja6sgae1p6dp8fa0g] FOREIGN KEY([linked_line_id])
REFERENCES [dbo].[sale_order_line] ([id])
GO
ALTER TABLE [dbo].[sale_order_line] CHECK CONSTRAINT [FKt9l0deo8ja6sgae1p6dp8fa0g]
GO
USE [master]
GO
